
<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage at a local business and eat and support local food</dd>
                    <dt>When</dt>
                    <dd>Saturday, April 27th</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Kandanga Farm Store<br>
                            <a href="https://maps.app.goo.gl/qXFJH25FZmDPteqP6" target="_blank">93 Main Street, Kandanga Queensland, 4570</a><br>
                            
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Smart attire, jackets options for men</dd>
                    <dt>Parking</dt>
                    <dd>Parking is plenty with open field left of the venue</dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>
                        Kadanga Pub afterwards for continued drinks and celebrations
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
