<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                We have been living in the Mary Valley region for three years and adored the demographic of the Sunshine Coast Hinterland. 
                We decided to buy land and we finished building our house in May 2023. We believe in showing our appreciation for the region with our family and friends. 
                Therefore, we decided to support our local businesses and arrange our wedding at the local produce store. 
                We look forward to seeing you at our wedding next year and come help us celebrate.
            </p>
        </div>
    </div>
</div>
